* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

#root {
  height: 100vh;
  width: 100vw;
}

.abs-cbn {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('./assets/abs-cbn.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gma {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('./assets/gma.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.manila-times {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('./assets/manila-times.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.philstar {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('./assets/philstar.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rappler {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('./assets/rappler.png');
  background-repeat: no-repeat;
  background-size: cover;
